.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  max-width: 1200px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
